html, body {
    height: 100%;
    margin: 0;
}

pre {
    border: 1px solid black;
    padding-left: 14px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

code {
    word-wrap: break-word;
    white-space: pre;
    color: crimson;
    background-color: #f1f1f1;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 10px;
}

#navbar {
    border-right: 1px solid black;
    margin-right: 14px;
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
}

#navbar > header {
    text-align: center;
    padding: 14px;
    font-weight: bold;
}

#navbar > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 1px solid black;
}
#navbar > ul > li {
    list-style-type: none;
    border-bottom: 1px solid black;
}

#navbar > ul > li > a {
    text-decoration-line: none;
    color: black;
    display: block;
    padding: 14px 0 14px 14px;
}

#navbar > ul > li > a:hover {
    background-color: #f1f1f1;
}

#main-doc {
    margin-left: 20%;
    padding: 14px;
}

#main-doc > .main-section > header {
    font-weight: bold;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
    /* For mobile: */
    #navbar {
        width: 100%;
        height: auto;
        position: static;
        border-bottom: 1px solid black;
    }
    
    #navbar > ul {
        height: 175px;
        overflow-y: scroll;
    }

    #main-doc {
        margin: 0;
        padding: 14px;
    }
}